<div class="get-started-block">
  <h2>Lorem ipsum dolor sit.</h2>
  <h1>Getting started</h1>
  <div class="get-started-info">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem nobis quasi, repudiandae, reprehenderit veniam voluptatem ipsam voluptatum et veritatis accusamus ipsum enim vel corporis at dolore est. Earum, unde ut!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem nobis quasi, repudiandae, reprehenderit veniam voluptatem ipsam voluptatum et veritatis accusamus ipsum enim vel corporis at dolore est. Earum, unde ut!</p>
  </div>
  <div class="privacy-policy">
    <section class="example-section">
      <mat-checkbox class="example-margin">privacy-policy</mat-checkbox>
    </section>
    <button mat-stroked-button matStepperNext>Get started</button>
  </div>
</div>
